
<div class="outter">
  <div class="outter-contents">

  </div>
  <div class="outter-contents">
    <apx-chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [xaxis]="chartOptions.xaxis!"
    [title]="chartOptions.title!"
  ></apx-chart>
  </div>
  <div class="outter-contents">
    <apx-chart 
    [series]="chartOptions1.series!"
    [chart]="chartOptions1.chart!"
    [labels]="chartOptions1.labels"
    [responsive]="chartOptions1.responsive!"
    [legend]="chartOptions1.legend!"
    [stroke]="chartOptions1.stroke!"
  ></apx-chart>
  </div>
</div>