<!--
  Description:


  Title: FoodCourt
  Author Name: Manikandan O
  Started On: 26 June 2023

 -->

<!-- -----------------------------Display Footer --------------------------------->
<footer>
  <div class="box5">
      <div class="end">
          <ul class="list">
              <li>COMPANY <ul class="list1">
                  <li><a [routerLink]="AboutPage">About us</a></li>
              </ul></li>
              </ul>
      </div>
      <div class="end">
          <ul class="list">
              <li>CONTACT <ul class="list1">
                  <li> <a [routerLink]="HelpPage">Help & Support</a></li>
              </ul></li>
          </ul>
      </div>
      <div class="end">
          <ul class="list">
          <li>LEGAL <ul class="list1">
              <li><a [routerLink]="TermsPage">Terms & Conditions</a></li>
              <li><a [routerLink]="CancelPage">Refund & Cancellation</a></li>
              <li><a [routerLink]="PrivacyPage">Privacy Policy</a></li>
          </ul></li>
      </ul>
      </div>
      <div class="end">
          <img src="./assets/LOGO-Foot.png" alt="image" title="logo">
      </div>
      </div>
      <hr>
      <div class="box6">
          <div class="end1">
              <img src="./assets/LOGO-Foot.png" alt="">
          </div>
          <div class="end1">
              <p>@Created by Manikandan 2022</p>
          </div>
          <div class="end1">
              <a href="https://www.facebook.com/profile.php?id=100090056535431&sk=" target="_blank"><i class="fa-brands fa-facebook-f" id="icon1"></i></a>
              <a href="https://instagram.com/food_court_online_websit?igshid=ZDdkNTZiNTM=" target="_blank"><i class="fa-brands fa-instagram" id="icon2"></i></a>
              <a href="https://twitter.com/FOODCOURT023" target="_blank"><i class="fa-brands fa-twitter" id="icon3"></i></a>
               </div>
      </div>
</footer>
