<!--
  Description:


  Title: FoodCourt
  Author Name: Manikandan O
  Started On: 03 July 2023

 -->

<!-- -----------------------------Display FAQs details --------------------------------->

<div class="Faqs">
  <h1>FAQs</h1>

  <div class="commonBox">
   <div class="commonBoxes">
     <h2>What is FoodCourt customer care number?</h2>
   </div>
   <div class="commonBoxes">
     <h2>I want to provide feedback</h2>
   </div>
   <div class="commonBoxes">
     <h2>Can I edit my order?</h2>
   </div>
   <div class="commonBoxes">
     <h2>I want to cancel my order</h2>
   </div>
   <div class="commonBoxes">
     <h2>Do you charge for delivery?</h2>
   </div>
  </div>

</div>
