
<div class="outter">
  <div class="outter-contents">
    <div class="inner">
      <img src="./assets/About-1.webp" alt="">
    </div>
    <div class="inner inner-text">
      <div class="inner-contents">
        <h1>Welcome to FoodCourt !</h1>
      </div>
      <div class="inner-contents">
        <p>At FoodCourt, we believe in the power of good food to bring people together. Our passion for culinary delights and the joy of sharing delicious meals inspired us to create this hub for food lovers around the globe.</p>
      </div>
      <div class="inner-contents">
        <h2>Our Story</h2>
      </div>
      <div class="inner-contents">
        <p>Founded in 2022, FoodCourt started as a humble idea shared among friends who were united by their love for diverse cuisines. What began as a simple conversation about the pleasures of a well-cooked meal evolved into a platform dedicated to celebrating the rich tapestry of flavors that the world has to offer.</p>
      </div>
    </div>
  </div>
  <div class="outter-contents">
    <div class="inner inner-text">
      <div class="inner-contents">
        <h1>What We Offer ?</h1>
      </div>
      <div class="inner-contents">
        <h2>Culinary Inspiration</h2>
      </div>
      <div class="inner-contents">
        <p>Explore our curated collection of mouthwatering recipes from various cuisines. From quick and easy weekday meals to indulgent weekend treats, we've got you covered.</p>
      </div>
      <div class="inner-contents">
        <h2>Foodie Community</h2>
      </div>
      <div class="inner-contents">
        <p>Join our vibrant community of food enthusiasts! Share your own culinary creations, swap kitchen tips, and connect with like-minded individuals who appreciate the art of cooking.</p>
      </div>
    </div>
    <div class="inner">
      <img src="./assets/About-2.webp" alt="">
  </div>
</div>
  <div class="outter-contents">
    <div class="inner">
      <img src="./assets/About-3.webp" alt="">
    </div>
    <div class="inner inner-text">
      <div class="inner-contents">
        <h2>Restaurant Reviews</h2>
      </div>
      <div class="inner-contents">
        <p>Discover the best local eateries and hidden gems with our honest and detailed restaurant reviews. Whether you're a traveler looking for the best dining spots or a local exploring your neighborhood, FoodCourt has recommendations for every palate.</p>
      </div>
      <div class="inner-contents">
        <h2>Food Trends and News</h2>
      </div>
      <div class="inner-contents">
        <p>Stay up-to-date with the latest food trends, industry news, and innovations. Our team of food aficionados scours the culinary landscape to bring you the freshest insights and developments.</p>
      </div>
  </div>
  </div>
  <div class="outter-contents">
    <div class="inner mypic">
      <img src="./assets/MyPic.jpg" alt="">
    </div>
    <div class="inner inner-text">
      <div class="inner-contents">
        <h1>Meet the Founder: Manikandan O</h1>
      </div>
      <div class="inner-contents">
        <p>Hello there, food enthusiasts! I'm Manikandan O, the passionate mind behind FoodCourt. Here's a little glimpse into who I am and what drives my love for the culinary world</p>
      </div>
      <div class="inner-contents">
        <h2>Join the Conversation</h2>
      </div>
      <div class="inner-contents">
        <p>I invite you to join me on this exciting culinary journey at FoodCourt. Whether you're a seasoned chef, a home cook, or someone who simply enjoys good food, there's a place for you in our community. Let's share recipes, swap stories, and make FoodCourt a vibrant space where our shared love for food flourishes.</p>
      </div>
  </div>
  </div>
</div>
