<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
       <!-- ----------------admin side----------------- -->
       <h1>ADMIN</h1>
       <div class="hotel">
        <img src="/images/img1.jpg" alt="">

        <h2 class="hname"><a href="/hotel_details">HOTEL DETAILS</a></h2>
       </div>
       <div class="customer">
        <img src="/images/customer.png" alt="">

        <h2 class="Cname"><a href="/customer_details">CUSTOMER DETAILS</a></h2>
       
       </div>
       <!-- --------------------------------------------------------------- -->
</body>
</html>