*{
  margin: 0;
  padding: 0;
  font-family:sans-serif;
}
.header{
  display: flex;
  background-color: white;
  height: 14vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
  box-shadow: 1.5px 0.5px 5px 2px rgba(0,0,0,0.2);
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo img{
  height: 10vh;
  width: 80%;
  margin-left: 120%;
  margin-top: 5%;
}
.navbar{
  display: flex;
  margin-left: -100%;
  gap: 10%;
  position: relative;
}
nav li{
 display: inline;
 font-size: 1.3vw;
 cursor: pointer;
}
nav a{
  text-decoration: none;
  color: black;
  font-size: 0.5cm;
  font-size: 1.3vw;
  font-weight: medium;
}
nav a i{
  font-size: 1vw;
}
nav li:hover{
  color: rgb(255, 128, 0);
}
nav a:hover{
  color: rgb(255, 128, 0);
}
.activeLink{
  color:rgb(255, 128, 0);
}
/*-------------------------------------------------*/
.background{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(6, 76, 240, 0.233);
  z-index: 1;
}
/*      signin               */
.signin{
  height: 100%;
  width: 37%;
  background-color: white;
  position: absolute;
  right: 0;
  animation: slide 0.2s linear 1;
  transition: transform 500ms ease-in-out;
  transform-origin: right;
}
@keyframes slide {
from{
  transform: scaleX(0);
}
to{
  transform: scaleX(1);
}
}
.exit{
  background-color: white;
  border: none;
  font-size: 2vw;
  margin-left: 6%;
  margin-top: 4%;
  cursor: pointer;
}
.exit:hover{
  color: rgb(255, 128, 0);
}
.signin h1{
  margin-left: 6%;
  font-weight: bold;
  font-size: 2vw;
}
.createAccount{
  background-color: white;
  border: none;
  margin-left: 6%;
  color: rgb(255, 128, 0);
  font-weight: bold;
  position: relative;
  font-size: 1vw;
  cursor: pointer;
}
.createAccount::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 150%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 0.25vw solid  black;
  transform: scaleX(0.3);
  /* transform-origin: left; */
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.createAccount:hover::before{
  transform: scaleX(1);
  transition: transform 500ms ease-out;
}
.createAccount span{
  color: black;
}
.image{
  border-radius: 50%;
  width: 15%;
  height: 15%;
  margin-top: -15%;
  margin-left: 20%;
}
.loginForm{
  display: flex;
  flex-direction: column;
  margin-top: 15%;
  margin-left: 6%;
}
.forms{
  height: 12vh;
  width: 70%;
  background-color: white;
  border: 0.05vw solid rgb(114, 110, 110);
}
label{
  position: absolute;
  left: 10%;
  font-weight: bold;
  font-size: 1.2vw;
  transition: top 200ms ease-in-out,left 200ms ease-in-out,font-size 200ms ease-in-out;
}
input{
  margin-left: 6%;
  margin-top: 5%;
  width: 80%;
  height: 6vh;
  border: none;
  padding-left: 5%;
  font-size: 1.3vw;
  font-weight: bold;
}
input:focus{
  border: none;
  outline: none;
}

.login{
  margin-top: 2%;
  width: 70%;
  height: 8vh;
  background-color: rgb(255, 128, 0);
  color: white;
  border: none;
  font-weight: bold;
  font-size: 1vw;
  cursor: pointer;
}
p{
  font-size:1vw;
  color: gray;
  width: 70%;
}
.Fpassword{
  font-size: 0.8vw;
  margin-top: 2%;
  font-weight: bold;
  color: rgb(255, 128, 0);
  background-color: white;
  border: none;
  cursor: pointer;
}
.Fpassword:hover{
  font-size: 0.9vw;
}
/*------------------------------------*/
/*      sign up          */
.signup{
  height: 100%;
  width: 37%;
  background-color: white;
  position: absolute;
  right: 0;
}
.signup h1{
  margin-left: 6%;
  font-weight: bold;
  font-size: 2vw;
}
.signupForm{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 6%;
}
/*-----------------------------------*/

.invalid{
  color: red;
}

.cartFlex{
  display: flex;
  width: 120%;
}

.circle{
  width: 100%;
  height: 4vh;
  margin-right: 2%;
  border-radius: 50%;
  border: 1px solid black;
}

.cartCountfalse{
  margin-left: 25%;
  margin-top: 30%;
  font-size: 1vw;
}

.cartCountTrue{
  margin-left: 25%;
  margin-top: 30%;
  color: white;
  font-size: 1vw;
}

.colored{
  width: 100%;
  height: 4vh;
  margin-right: 2%;
  border-radius: 50%;
  background-color: rgb(255, 128, 0);
}

.logout{
  width: 20%;
  height: 10vh;
  position: absolute;
  left: 57%;
  top: 110%;
  border-top: 2px solid rgb(255, 128, 0);
  visibility: hidden;
  background-color: white;
  cursor: pointer;
}


.user:hover .logout{
  visibility: visible;
}
.log{
  margin-left: 20%;
}
