<div class="Orders">
  <h1>Past Orders</h1>

  <div class="orderBox">
  <div class="commonBox">
<div class="commonBoxes" *ngFor="let setPaymentOrderedDetails of setPaymentOrderedDetails ">
  <div><img src="{{setPaymentOrderedDetails.hotelImage}}" alt=""></div>
  <div>
    <p>Delivered on Sun, Nov 20, 2022, 07:59PM <i class="fa-solid fa-circle-check"></i></p>
    <h2>{{setPaymentOrderedDetails.hotelName}}</h2>
    <h4>Order #{{setPaymentOrderedDetails.orderId}} | {{setPaymentOrderedDetails.date[0]}}, {{setPaymentOrderedDetails.date[1]}}</h4>
    <a href="">VIEW DETAILS</a>
  </div>
</div>
<div class="commonBoxes" *ngFor="let orderedItems of orderItemArray">
  <p>{{orderedItems.dishName}} x {{orderedItems.dishQuantity}}</p>
  <h4>Total Paid: ₹ {{setPaymentOrderedDetails.totalPrice}}</h4>
  <div class="OrderButton">
    <div class="button">
      <button>REORDER</button>
    </div>
    <div class="button">
    <button>Help</button>
  </div>
  </div>
</div>
  </div>
</div>
</div>
