<div class="Orders">
  <h1>Orders</h1>

  <div class="commonBox">
<div class="commonBoxes">
  <div><img src="./assets/LOGO.png" alt=""></div>
  <div>
    <h2>Shri Gupta Sweets</h2>
    <h3>Dadagapatty</h3>
    <h4>Order #152029746532 | Sun, Nov 20, 2022, 07:59PM</h4>
    <a href="">VIEW DETAILS</a>
  </div>
</div>
<div class="commonBoxes">
  <p>Gobi manchurian x 1</p>
  <div class="OrderButton">
    <div class="button">
      <button>REORDER</button>
    </div>
    <div class="button">
    <button>Help</button>
  </div>
  </div>
  <!-- <button>REORDER</button>
  <button>Help</button> -->
</div>
  </div>


</div>
