<div class="outter">
  <div class="outter-contents">
    <h1>Cancel and Refund Policy for FoodCourt</h1>
  </div>
  <div class="outter-contents">
    <h2> Cancellation Policy</h2>
  </div>
  <div class="outter-contents">
    <h3> Order Cancellation</h3>
  </div>
  <div class="outter-contents">
    <p>Customers have the right to cancel their order within a specified time frame. To cancel an order, customers must contact our customer support team via foodcourt2312@gmail.com. within 1 minute of placing the order. Orders cannot be canceled once the food preparation process has begun.</p>
  </div>
  <div class="outter-contents">
    <h3> Modification of Orders</h3>
  </div>
  <div class="outter-contents">
    <p>Customers may request modifications to their orders, such as changes to delivery address or contact information, within 1 minute of placing the order. After this time frame, modifications cannot be guaranteed.</p>
  </div>
  <div class="outter-contents">
    <h2> Refund Policy</h2>
  </div>
  <div class="outter-contents">
    <h3> Eligibility for Refunds</h3>
  </div>
  <div class="outter-contents">
    <p>Refunds will be provided in the following situations:</p>
  </div>
  <div class="outter-contents">
    <p><b>Quality Issues:</b>  If the delivered food does not meet our quality standards.</p>
  </div>
  <div class="outter-contents">
    <p><b>Non-Delivery:</b>  If the ordered food is not delivered within the specified time frame.</p>
  </div>
  <div class="outter-contents">
    <p><b>Order Cancellation:</b> If a valid order cancellation request is made within the allowed time frame.</p>
  </div>
  <div class="outter-contents">
    <h2>Refund Process</h2>
  </div>
  <div class="outter-contents">
    <p><b>Quality Issues:</b> If customers are dissatisfied with the quality of the food delivered, they must contact our customer support team within 1 hour of receiving the order. Customers may be required to provide photographic evidence of the quality issue.</p>
  </div>
  <div class="outter-contents">
    <p><b>Non-Delivery:</b>If the ordered food is not delivered within the specified time frame, customers should contact our customer support team immediately for assistance.</p>
  </div>
  <div class="outter-contents">
    <p><b> Order Cancellation:</b>Refunds for canceled orders will be processed within 2 business days from the date of cancellation. The refund will be issued using the same payment method used for the original transaction.</p>
  </div>
  <div class="outter-contents">
    <h2>Non-Refundable Items</h2>
  </div>
  <div class="outter-contents">
    <p>Certain items may be non-refundable. This includes, but is not limited to, delivery charges and taxes.</p>
  </div>
  <div class="outter-contents">
    <h2>Contact Information</h2>
  </div>
  <div class="outter-contents">
    <p>For any inquiries regarding cancellations or refunds, please contact our customer support team at:</p>
  </div>
  <div class="outter-contents">
    <p><b>Email:</b> foodcourt2312@gmail.com.</p>
  </div>
  <div class="outter-contents">
    <p><b>Phone:</b> 6379623737</p>
  </div>

  <div class="outter-contents">
    <h2>Policy Changes</h2>
  </div>
  <div class="outter-contents">
    <p>FoodCourt reserves the right to update or modify this cancel and refund policy at any time. Customers will be notified of any changes on our website.</p>
  </div>
