
<!--
  Description:


  Title: FoodCourt
  Author Name: Manikandan O
  Started On: 03 July 2023

 -->

<!-- -----------------------------Display Legal Details --------------------------------->

  <div class="Legal">
    <h1>Legal</h1>

    <div class="commonBox">
     <div class="commonBoxes">
       <h2 (click)="LegalInfo()">Terms Of Service</h2>
       <div class="commonInfo" *ngIf="isLegalInfo">
         <p>Terms and Conditions of Use for FoodCourt
          Acceptance of Terms
          By accessing and using the FoodCourt website, you agree to comply with and be bound by these Terms and Conditions. If you do not agree to these terms, please refrain from using our website.

          Changes to Terms
          FoodCourt reserves the right to modify, update, or replace these Terms and Conditions at any time. Continued use of the website after any changes constitute acceptance of the modified terms.</p>
         <a routerLink="/Terms">Read More</a>
       </div>
     </div>
     <div class="commonBoxes">
       <h2 (click)="PrivacyInfo()">Privacy Policy</h2>
       <div class="commonInfo" *ngIf="isPrivacyInfo">
       <p>Privacy Policy for FoodCourt
        Welcome to FoodCourt! This Privacy Policy explains how we collect, use, and safeguard your personal information when you visit or interact with our website.

        Information We Collect
        We may collect the following types of information:

        Personal Information: When you register, contact us, or use certain features on our site, we may collect personal information such as your name, email address, and other relevant details.

        Log Data: Like many websites, we collect information that your browser sends whenever you visit our site. This may include your IP address, browser type, browser version, the pages of our site that you visit, the time and date of your visit, and other statistics.

        Cookies: We use cookies to enhance your experience on our site. Cookies are small data files stored on your device that help improve our services and provide a customized experience. You can choose to disable cookies through your browser settings. </p>
       <a routerLink="/Privacy">Read More</a>
     </div>
     </div>
     <div class="commonBoxes">
       <h2 (click)="CancelInfo()">Cancellation and Refunds</h2>
       <div class="commonInfo" *ngIf="isCancelInfo">
       <p>Cancel and Refund Policy for FoodCourt
        Cancellation Policy
        Order Cancellation
        Customers have the right to cancel their order within a specified time frame. To cancel an order, customers must contact our customer support team via foodcourt2312@gmail.com. within 1 minute of placing the order. Orders cannot be canceled once the food preparation process has begun.

        Modification of Orders
        Customers may request modifications to their orders, such as changes to delivery address or contact information, within 1 minute of placing the order. After this time frame, modifications cannot be guaranteed.</p>
       <a routerLink="/Cancel">Read More</a>
     </div>
     </div>
    </div>


 </div>




