<!--
  Description:


  Title: FoodCourt
  Author Name: Manikandan O
  Started On: 23 March 2023

 -->

<!-- -----------------------------Fontawesome link for the icons --------------------------------->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- -------------------------------------display the hotels--------------------- -->
<div class="hotel">
  <div class="hotels" *ngFor="let values of val; let ind=index" (click)="hotelList(ind)">
    <div class="hotels-contents">
      <img src="{{values.hotelimage}}" alt="">
    </div>
    <div class="hotels-contents">
      <h4>{{values.hotelname}}</h4>
      <h5>{{values.dishvariety}}</h5>
    <div class="offer">
      <div class="rating"><i class="fa-solid fa-star"></i> {{values.Rating}}</div>
      <div class="time"><h5>{{values.timeDel}}&nbsp;MINS</h5></div>
    </div>
    <div class="offer_1" *ngIf="values.offer.length>=1">
      <i class="fa-solid fa-percent"></i>
      <h4>{{values.offer}}</h4>
    </div>
    <h4 class="view">QUICK VIEW</h4>
  </div>
</div>
</div>
