<!--
  Description:


  Title: FoodCourt
  Author Name: Manikandan O
  Started On: 09 March 2023

 -->

 <!-- ---------------------------------Pre loader for the website------------------------ -->

 <div class="preloader" *ngIf="Preloader">
  <div class="preloader-content">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="preloader-content">
    <p>Loading</p>
  </div>
</div>
 <!-- -------------------------------------NAV BAR  Component----------------------------------->

 <app-navbar *ngIf="navBar"></app-navbar>

 <!-- ---------------------------------Routed Components---------------------------------------->

    <div class="Contents">
      <div class="content">
        <span style="color:black;display: none;">{{title}}</span>
      </div>

      <div class="Items">
        <router-outlet></router-outlet>
      </div>
    </div>

<!-- --------------------------------------Footer Component--------------------------------- -->

    <app-footer *ngIf="Footer"></app-footer>


