<!--
  Description:


  Title: FoodCourt
  Author Name: Manikandan O
  Started On: 09 March 2023

 -->


 <!-- -------------------------------------NAV BAR  Component----------------------------------->

 <app-navbar *ngIf="navBar"></app-navbar>

 <!-- ---------------------------------Routed Components---------------------------------------->

    <div class="Contents">
      <div class="Items">
        <router-outlet></router-outlet>
      </div>
    </div>

<!-- --------------------------------------Footer Component--------------------------------- -->

    <app-footer *ngIf="Footer"></app-footer>
