<div class="outter">
  <div class="outter-contents">
    <h1>Privacy Policy for FoodCourt</h1>
  </div>
  <div class="outter-contents">
    <p>Welcome to FoodCourt! This Privacy Policy explains how we collect, use, and safeguard your personal information when you visit or interact with our website.</p>
  </div>
  <div class="outter-contents">
    <h2> Information We Collect</h2>
  </div>
  <div class="outter-contents">
    <p>We may collect the following types of information:</p>
  </div>
  <div class="outter-contents">
    <p><b>Personal Information:</b> When you register, contact us, or use certain features on our site, we may collect personal information such as your name, email address, and other relevant details.</p>
  </div>
  <div class="outter-contents">
    <p><b>Log Data:</b>  Like many websites, we collect information that your browser sends whenever you visit our site. This may include your IP address, browser type, browser version, the pages of our site that you visit, the time and date of your visit, and other statistics.</p>
  </div>
  <div class="outter-contents">
    <p><b>Cookies:</b> We use cookies to enhance your experience on our site. Cookies are small data files stored on your device that help improve our services and provide a customized experience. You can choose to disable cookies through your browser settings.</p>
  </div>
  <div class="outter-contents">
    <h2>How We Use Your Information</h2>
  </div>
  <div class="outter-contents">
    <p>We use the collected information for the following purposes:</p>
  </div>
  <div class="outter-contents">
    <p>To provide and maintain our website.</p>
  </div>
  <div class="outter-contents">
    <p>To notify you about changes to our website.</p>
  </div>
  <div class="outter-contents">
    <p>To allow you to participate in interactive features on our website.</p>
  </div>
  <div class="outter-contents">
    <p>To provide customer support.</p>
  </div>
  <div class="outter-contents">
    <p>To gather analysis or valuable information so that we can improve our website.</p>
  </div>
  <div class="outter-contents">
    <p>To monitor the usage of our website.</p>
  </div>
  <div class="outter-contents">
    <h2>Data Security</h2>
  </div>
  <div class="outter-contents">
    <p>We prioritize the security of your personal information and take reasonable steps to protect it. However, please be aware that no method of transmission over the internet or electronic storage is 100% secure.</p>
  </div>
  <div class="outter-contents">
    <h2>Third-Party Links</h2>
  </div>
  <div class="outter-contents">
    <p>Our website may contain links to third-party websites. Please note that we have no control over the content or practices of these third-party sites and cannot be responsible for their privacy policies.</p>
  </div>
  <div class="outter-contents">
    <h2>Third-Party Links</h2>
  </div>
  <div class="outter-contents">
    <p>FoodCourt may contain links to third-party websites. These links are provided for convenience and do not imply endorsement. FoodCourt is not responsible for the content or practices of these third-party sites.</p>
  </div>
  <div class="outter-contents">
    <h2>Your Choices</h2>
  </div>
  <div class="outter-contents">
    <p>You can choose not to provide us with certain information, but this may limit your ability to use specific features of our website.</p>
  </div>
  <div class="outter-contents">
    <h2>Changes to This Privacy Policy</h2>
  </div>
  <div class="outter-contents">
    <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
  </div>
  <div class="outter-contents">
    <h2>Contact Information</h2>
  </div>
  <div class="outter-contents">
    <p>For any questions or concerns regarding these Terms and Conditions, please contact us at
      foodcourt2312@gmail.com.</p>
  </div>
</div>
