<!--
  Description:


  Title: FoodCourt
  Author Name: Manikandan O
  Started On: 03 July 2023

 -->

<!-- -----------------------------Display Payment Details --------------------------------->
<div class="PaymentDetails">
  <h1>Payment Details</h1>
  <div class="commonBox" *ngIf="isshow">
    <img src="./assets/emptycart.gif" alt="" class="emptyImage">
    <h2>Cards are Empty!</h2>
  </div>

  <div class="commonBox" *ngIf="!isshow">

    <div class="cardDetails">
      <h1>{{cardDetails.cardNumber}}</h1>
      <h2>{{cardDetails.cardHolderName}}</h2>
      <img src="{{cardTypeImage}}" alt="image">
    </div>
  </div>
</div>
