<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="outer">

  <div class="details">
    <h1>Manikandan</h1>
    <h2>6379623737  &nbsp; . &nbsp;&nbsp; manidhanush2001@gmail.com</h2>
  </div>

  <div class="profilebox">
    <div class="content">
      <div class="boxes">
        <div class="left">
          <h3><i class="fa-sharp fa-solid fa-bag-shopping"></i>&nbsp;&nbsp;Orders</h3>
        </div>
        <div class="left">
          <h3><i class="fa-sharp fa-solid fa-heart"></i>&nbsp;&nbsp;favorites</h3>
        </div>
        <div class="left">
          <h3><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;adresses</h3>
        </div>
        <div class="left">
          <h3><i class="fa-regular fa-credit-card"></i>&nbsp;&nbsp;payment</h3>
        </div>
      </div>
      <div class="boxes">

      </div>
    </div>
  </div>
</div>
