<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<div class="outter">
  <div class="inner">
    <div class="inner-content">
      <h1>Admin Dashboard</h1>
    </div>
    <div class="inner-content anchor">
      <a href=""><i class="fa-solid fa-chart-simple"></i>Analytics</a>
    </div>
    <div class="inner-content anchor">
      <a routerLink="adminhotel"><i class="fa-solid fa-utensils"></i>Hotels Details</a>
    </div>
    <div class="inner-content anchor">
      <a href=""><i class="fa-regular fa-user"></i>Customer Details</a>
    </div>
  </div>
  <div class="inner">
    <router-outlet />
  </div>
</div>
