
.Card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.Card h1{
  font-size: 1.4vw;
  margin-left: 30px;
  margin-bottom: 30px;
}
.Card p{
  font-size: 1vw;
  font-weight: lighter;
  color: gray;
  margin-left: 30px;
  margin-bottom: 30px;
}
.CardBoxes{
  box-shadow: 1.5px 0.5px 5px 2px rgba(0,0,0,0.2);
  margin-left: 100px;
  margin-bottom: 30px;
  width: 650px;
  background: black;
  border-radius: 30px;
}
.CardBoxes .Chip{
  width: 170px;
  height: 110px;
  margin-left: 0px;
  margin-top: 40px;
}

.CardBoxes .BankName{
  width: 200px;
  height: 40px;
  margin-left: 180px;
  margin-bottom: 80px;
  /* background: white; */
}

.debitForm{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 35px;
  gap: 20px;
  margin-bottom: 50px;
}

.debitForms{
  margin-top: 20px;
}

.debitForms:nth-child(2){
  display: flex;
  flex-wrap: wrap;
}

.debitForms label{
  color: white;
}

.CardNumber{
  width: 560px;
  height: 25px;
  color: white;
  margin-top: 20px;
  background: black;
  outline: none;
  border: none;
  font-size: 2vw;
  letter-spacing: 18px;
  font-weight: bold;
 /* border-bottom: 1px solid white; */
}

.CardNumber:hover,.CardNumber:focus{
  border: none;
}

.ExpiryDate{
  width: 100px;
  margin-top: 20px;
  height: 25px;
  color: white;
  background: black;
  outline: none;
  border: none;
  font-size: 1.5vw;
  padding-left:20px;
  font-weight: bold;
  /* border: 1px solid white; */
}
.ExpiryDate:hover,.ExpiryDate:focus{
  border: none;
}

.debitFormsFlex:nth-child(2){
  margin-left: 365px;
}
.debitFormsFlex label{
  margin-bottom: 40px;
}
.CVV{
  width: 100px;
  margin-top: 10px;
  height:25px;
  color: white;
  background: black;
  outline: none;
  border: none;
  font-size: 1.5vw;
  font-weight: bold;
  /* border-bottom: 1px solid white; */
}
.CVV:hover,.CVV:focus{
  border: none;
}


.CardHolderName{
  width: 350px;
  margin-top: 20px;
  height: 25px;
  color: white;
  background: black;
  outline: none;
  border: none;
  font-size: 2vw;
  padding-left:20px;
  font-weight: bold;
  /* border-bottom: 1PX solid white; */
}
.CardHolderName:hover,.CardHolderName:focus{
  border: none;
}

.CardType{
  width: 100px;
  height: 60px;
  margin-left: 450px;
  margin-top: -100px;
  margin-bottom: 30px;
}

form button{
  width: 150px;
  height: 40px;
  margin-top: 20px;
  background: black;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid white;
}

.banks{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin-left: 150px;
  margin-top: -55px;
  margin-bottom: 30px;
}

.bank{
  margin-left: 20px;
}
.bank img{
  width: 100px;
  height: 30px;
  background: black;
}
.card{
  margin-left: 20px;
  margin-top: 10px;
}
.card img{
  width: 80px;
  height:40px;
  background: black;
}

.registeredCard{
  background: black;
  /* height: 100px; */
  width: 650px;
  padding: 30px;
  margin-left: 100px;
  border-radius: 30px;
  cursor: pointer;
}
.registeredCard h1{
  width: 560px;
  height: 25px;
  color: white;
  margin-top: 20px;
  background: black;
  outline: none;
  border: none;
  font-size: 2vw;
  letter-spacing: 18px;
  font-weight: bold;
}
.registeredCard h2{
  margin-top: 10px;
  color: white;
  font-size: 1.2vw;
  margin-left: 30px;
}
.registeredCard img{
  width: 100px;
  height:50px;
  margin-left: 520px;
  margin-top: -25px;
}
.addcard{
  width: 400px;
  height:50px;
  margin-left: 270px;
  margin-top: 60px;
  border: none;
  color: white;
  font-size: 1.1vw;
  font-weight: bold;
  background: #60b246;
  cursor: pointer;
}
.registeredCard label{
  color: white;
  font-size: 1.1vw;
  font-weight: lighter;
  margin-left: 30px;
}

.cancelCard{
  width: 600px;
  height:50px;
  margin-left: 130px;
  margin-top: 30px;
  border: none;
  color: white;
  font-size: 1.1vw;
  font-weight: bold;
  background: #60b246;
  cursor: pointer;
}
.registeredcardDetails{
  display: flex;
  justify-content: space-between;
}
.registeredDetails input{
  width: 100px;
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 30px;
  height:25px;
  color: white;
  background: black;
  outline: none;
  border: none;
  font-size: 1.5vw;
  font-weight: bold;
}
