
 <!--
  Description:


  Title: FoodCourt
  Author Name: Manikandan O
  Started On: 07 July 2023

 -->

<!-- -----------------------------fontawesome link for the icons --------------------------------->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- -----------------------------Display search bar--------------------------- -->
<div class="item">
  <div class="items">
<form>
  <div class="form-control">
    <form [formGroup]="hotel">
    <input type="text" placeholder="Search for restaurants and foods" formControlName="hotelname" [(ngModel)]="hotelName">
    <i class="fa-solid fa-xmark" *ngIf="ishotelName" (click)="clear()"></i>
  </form>
  </div>
</form>
  </div>
  <div class="items" *ngIf="issearched">
    <h3>Recent Searches</h3>
    <h3 class="more" >SHOW MORE</h3>
    <div class="recents" *ngFor="let hotelName of data; let ind=index">
      <i class="fa-solid fa-magnifying-glass"></i>
      <h3 (click)="hotelRoute(ind)">{{hotelName}}</h3>
    </div>
  </div>
  <div class="items" *ngIf="issearched">
    <h4>Popular Cuisines</h4>
    </div>
    <div class="items" *ngIf="issearched">
      <div class="images" *ngFor="let cuisine of cuisines">
        <img src="{{cuisine}}" alt="">
      </div>
    </div>

    <div class="items" *ngIf="ishotelName">
      <div class="searchItem" *ngFor="let arrays of finalArray; let ind=index" (click)="sendHotel(ind)">
        <div>
          <img src="{{arrays.hotelimage}}" alt="">
          <h4>{{arrays.hotelname}}</h4>
          <h5>Restaurant</h5>
        </div>
      </div>
      <div *ngIf="isfound">
        <h5 class="error">No Results Found</h5>
      </div>
    </div>
  </div>

