
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="item">
  <div class="items">
<form>
  <div class="form-control">
    <input type="text" placeholder="Search for restaurants and foods" name="hotelName" [(ngModel)]="hotelName">
    <i class="fa-solid fa-magnifying-glass" ></i>
    <i class="fa-solid fa-xmark"></i>
  </div>
</form>
  </div>
  <div class="items">
    <h3>Recent Searches</h3>
    <h3 class="more">SHOW MORE</h3>
    <div class="recents" *ngFor="let hotelName of hotelNameFinal">
      <i class="fa-solid fa-magnifying-glass"></i>
      <h3>{{hotelName}}</h3>
    </div>
  </div>
  <div class="items">
    <h4>Popular Cuisines</h4>
    </div>
    <div class="items">
      <div class="images" *ngFor="let cuisine of cuisines">
        <img src="{{cuisine}}" alt="">
      </div>
    </div>
  </div>

