<!--
  Description:


  Title: FoodCourt
  Author Name: Manikandan O
  Started On: 03 July 2023

 -->


 <!-- -----------------display favorite hotel----------------------- -->
<div class="Favorites">
  <h1>Favorites</h1>
<!-- ------------------display the favorite hotel details------------- -->
<div class="commonBox" *ngIf="!isshow">
  <img src="./assets/emptycart.gif" alt="" class="emptyImage">
  <h2>Favorites are Empty!</h2>
</div>
  <div class="commonBox" *ngIf="isshow">
    <div class="hotel">
      <div class="hotels" *ngFor="let FavoriteArrays of limitedFavorite; let ind=index" (click)="sendHotel(ind)">
        <img src="{{FavoriteArrays.hotelimage}}" alt="">
        <h4>{{FavoriteArrays.hotelname}}</h4>
        <h5>{{FavoriteArrays.dishvariety}}</h5>
        <div class="offer">
          <div class="rating"><i class="fa-solid fa-star"></i> {{FavoriteArrays.Rating}}</div>
          <div class="time"><h5>{{FavoriteArrays.timeDel}}&nbsp;MINS</h5></div>
        </div>
        <div class="offer_1" *ngIf="FavoriteArrays.offer.length>=1">
          <i class="fa-solid fa-percent"></i>
          <h4>{{FavoriteArrays.offer}}</h4>
        </div>
        <h4 class="view">QUICK VIEW</h4>
      </div>
    </div>
    <button (click)="FavoritePage()" *ngIf="isButton">VIEW MORE FAVORITES</button>
  </div>
</div>
