/* slide show*/
img{
  width: 90%;
  height: 80vh;
  margin-left: 5%;
}
.slideshow{
  position: relative;
}
.flex{
  display: flex;
  margin-left: 47%;
  margin-top: -3%;
  gap: 3%;
}
.round{
  width: 2%;
  height: 2vh;
  border-radius: 50%;
  border: 1px solid white;
}
.round:hover{
  background-color: white;
}
/*--------------------------8*/

/*    second nav bar*/

.secondnav{
  width: 100%;
  height: 10vh;
  margin-top: 3%;
  position: relative;
  border-bottom: 1px solid gray;
  /* box-shadow: 1.5px 0px 0px 2px rgba(0,0,0,0.2); */
}
.secondnav h2{
position: absolute;
left: 9%;
top: 35%;
font-size: 2vw;
font-family: sans-serif;
}

.nav{
  position: absolute;
  left: 40%;
  top: 44%;
  width: 60%;
  display: flex;
  gap: 5%;
}
.nav li{
  font-weight: lighter;
  font-size: 1.1vw;
}
/*--------------------------------*/

.activeLink{
  color:rgb(255, 128, 0);
}
