<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="outer">
  <i class="fa-solid fa-heart" (click)="Favorite()" *ngIf="frontUi" [ngStyle]="{'color':favorite}"></i>
  <i class="fa-solid fa-magnifying-glass" *ngIf="frontUi" (click)="searchBar()"></i>
  <div class="hotelDetails" *ngIf="frontUi">
    <h1>{{value.hotelname}}</h1>
    <h3>{{value.dishvariety}}</h3>

    <div class="flex">
      <div><i class="fa-solid fa-star"></i><h2 class="rating">4.5</h2></div>
      <div><h3>5K+ Ratings</h3></div>
    </div>
  </div>


<div class="inner1" *ngIf="frontUi">
  <div class="flex1">
    <div><i class="fa-solid fa-clock"></i><h2>{{value.timeDel}}&nbsp;MINS</h2></div>
    <div><div class="round"><i class="fa-solid fa-indian-rupee-sign"></i></div><h1>{{value.Costfortwo}}&nbsp;FOR&nbsp;TWO</h1></div>
  </div>
</div>


</div>


<div class="dish" *ngIf="frontUi">
  <div class="dishes" *ngFor="let dishes of dishArray;let ind=index">
    <h2>{{dishes.dishName}}</h2>
    <h4>₹ {{dishes.dishPrice}}</h4>
    <h5>{{dishes.dishDescription}}</h5>
    <img src="{{dishes.dishImage}}" alt="juice">
    <button class="add" (click)="cartItems(ind)" [ngClass]="{'addedButton': indexNumber === ind}" id="{{ind}}">ADD</button>
  </div>
</div>


<div class="searchBar" *ngIf="!frontUi">
  <form action="" [formGroup]="searchdish">
    <input type="text" placeholder="Search in {{value.hotelname}}" formControlName="searchdishes" [(ngModel)]="dishes">
    <i class="fa-solid fa-xmark" (click)="closeSearchbar()"></i>
  </form>
  <h5 class="error" *ngIf="isfound">No Results Found</h5>
  <div class="searchdish" *ngIf="!isfound">
    <div class="searchdishes" *ngFor="let dishes of finalDishArray;let ind=index">
      <h2>{{dishes.dishName}}</h2>
      <h4>₹ {{dishes.dishPrice}}</h4>
      <h5>{{dishes.dishDescription}}</h5>
      <img src="{{dishes.dishImage}}" alt="juice">
      <button class="add" (click)="searchcartItems(ind)" [ngClass]="{'addedButton': indexNumber === ind}" id="{{ind}}">ADD</button>
    </div>
</div>
</div>

