<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="outer">
  <div class="hotelDetails">
    <h1>{{value.hotelname}}</h1>
    <h3>{{value.dishvariety}}</h3>

    <div class="flex">
      <div><i class="fa-solid fa-star"></i><h2 class="rating">4.5</h2></div>
      <div><h3>5K+ Ratings</h3></div>
    </div>
  </div>


<div class="inner1">
  <div class="flex1">
    <div><i class="fa-solid fa-clock"></i><h2>{{value.timeDel}}&nbsp;MINS</h2></div>
    <div><div class="round"><i class="fa-solid fa-indian-rupee-sign"></i></div><h1>{{value.Costfortwo}}&nbsp;FOR&nbsp;TWO</h1></div>
  </div>
  <h3 class="veg">Veg Only</h3>


  <div class="rectangle">
    <div class="square">

      <div class="circle"><input type="checkbox"></div>
    </div>
  </div>
</div>


</div>


