<!--
  Description:


  Title: FoodCourt
  Author Name: Manikandan O
  Started On: 23 March 2023

 -->

<!-- -----------------------------Display Offer details --------------------------------->

<div class="top">
  <h3>OFFERS FOR YOU</h3>
  <h5>Explore top deals and offers exclusively for you..</h5>

  <div class="round">
    <div class="square1"></div>
    <div class="square2">
      <div class="circle"></div>
      <div class="line"></div>
      <div class="circle1"></div>
    </div>
  </div>
</div>
<!-- -----------------------display Child Navbar----------------------------- -->
<div class="secondnav">
  <div>
    <h3><a [routerLink]="ResOffers" routerLinkActive="activeLink">Restaurants Offers</a></h3>
  </div>
  <div>
    <h3><a [routerLink]="PayOffers" routerLinkActive="activeLink">Payment offers/Coupons</a></h3>
  </div>
</div>
<!-- ------------------------display Child routing Components-------------------- -->
<div class="contents">
  <router-outlet></router-outlet>
</div>

